/* Primeiro sempre colocar as definicoes basicas do css setadas a zweo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: century;
}

::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background: rgba(205, 186, 123, 0.855);
  border-radius: 0.7rem;
  margin-block: 0.1em;
}
::-webkit-scrollbar-thumb {
  background: rgba(212, 170, 32, 0.855);
  border: 0.1rem solid;
  border-radius: 0.7rem;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(56, 50, 29, 0.855);
}
/* NavBar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
.navbar ul li {
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all 0.5s ease;
}
.navbar ul li a:hover {
  background-color: rgba(207, 168, 39, 0.855);
  color: black;
  box-shadow: 0 0 10px white;
}

/* Home */
#home {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  height: 840px;
  justify-content: center;
  align-items: center;
  color: white;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("images/InShot_20210523_105813645.jpg") no-repeat center
    center/cover;
  height: 900px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}
.main {
  display: flex;
  flex-direction: column;
  /* border-top: 1px solid white; */
  align-items: center;
  position: absolute;
  top: 30%;
  right: 10%;
}
.titulo {
  font-family: century;
  font-size: 3rem;
  text-align: center;
  margin: 40px 0px;
}
.btn {
  padding: 10px 35px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
  transition: 0.6s ease;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(207, 168, 39, 0.855);
  color: black;
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
  font-weight: bold;
  font-family: century;
}
/* Sobre */
.sobre {
  /* flex-wrap: wrap; */
  display: grid;
  /* flex-direction: column; */
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 0.2rem;
  color: #444;
  margin: 4rem 10rem 4rem 10rem;
}

.pic img {
  width: 100%;
  /* min-width: 315px;
  height: 418px;*/

  width: 313.34px;
  height: 417px;
}
.sobre-info {
  font-size: 1.3rem;

  width: 40rem;
  height: 20rem;
  /* margin-left: 2rem; */
  margin-bottom: 3rem;
}
.sobre-title {
  color: rgba(207, 168, 39, 0.855);
  margin-bottom: 2rem;
}

/* Experiencia */
/* .social-icons a {
  color: rgba(207, 168, 39, 0.855);
  font-size: 1.5em;

  margin-right: 4%;
} */

/* Zerando a margin do último elemento "envelope" */
.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  color: #444;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul {
  list-style: none;
}

.footer {
  background-color: rgb(54, 54, 54);
  padding: 60px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
  /* height: 25%; */
}
.footer-col h4 {
  font-size: 19px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgba(207, 168, 39, 0.855);
  height: 2px;
  box-sizing: border-box;
  width: 80px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li p {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li p:hover {
  color: rgba(207, 168, 39, 0.855);
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #04b2dc;
  background-color: #ffffff;
}
/* #about .container .box-title {
  width: 420px;
  height: 37vh;
  margin-top: 20px;
  padding: 0 10px;
  box-shadow: 0 0 10px 0 rgba(21, 111, 195, 0.5);
  border-radius: 20px;
} */
.box-title span {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}
.box-title .b1 {
  width: 400px;
  height: 8px;
  background: #fff;
  margin-bottom: 7px;
  border-radius: 5px;
}

.box-title .b2 {
  width: 350px;
  height: 8px;
  background: rgba(207, 168, 39, 0.855);
  border-radius: 5px;
}
.box-title .b3 {
  width: 300px;
  height: 8px;
  background: rgba(207, 168, 39, 0.855);
  border-radius: 5px;
}
.box-title .b4 {
  width: 325px;
  height: 8px;
  background: rgba(207, 168, 39, 0.855);
  border-radius: 5px;
}

/* 
cards servicos */
.port {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: #aeaeae;
  font-family: century;
  margin-bottom: 15rem;
}

.box {
  /* background: #eee; */
  padding: 4rem;
  /* box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16); */
  /* border-radius: 50px; */
  text-align: center;
  margin-top: 2rem;
  font-family: century;
}

.portfolio {
  max-width: 886px;
  box-sizing: border-box;
  font-family: century;
  font-size: 1.5rem;
}

.portfolio ul {
  margin-top: 3rem;
}

.portfolio li {
  display: grid;
  height: 23rem;
  width: 58rem;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 5rem;
  color: #606060;
}

.portfolio li + li {
  margin-top: 2rem;
}

.portfolio img {
  border-radius: 10px;
}

.portfolio h2 {
  font-weight: normal;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  font-weight: normal;
  color: rgba(207, 168, 39, 0.855);
}

.peTitulos {
  font-size: 1.5rem;
  font-weight: normal;
  color: rgba(207, 168, 39, 0.855);
}
.mel {
  font-size: 1rem;
  text-align: justify;
}

/* Meus jobs */
.port2 {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: #aeaeae;
  font-family: century;
  margin-bottom: 10rem;

  /* background-color: rgba(207, 168, 39, 0.855); */
}

.box2 {
  padding: 4rem;
  /* box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16); */
  /* border-radius: 50px; */
  text-align: center;
  margin-top: 2rem;
  font-family: century;
}

.portfolio2 {
  max-width: 886px;
  box-sizing: border-box;
  font-family: century;
  font-size: 1.5rem;
}

.portfolio2 ul {
  margin-top: 3rem;
}

.portfolio2 li {
  display: grid;
  height: 23rem;
  width: 58rem;
  grid-template-columns: 1fr;
  text-align: left;
  gap: 5rem;
  color: #606060;
}

.portfolio2 li + li {
  margin-top: 2rem;
}

/* .portfolio2 img {
 border-radius: 10px; 
} */

.portfolio2 h2 {
  font-weight: normal;
  margin-bottom: 1rem;
}

.title2 {
  font-size: 3rem;
  font-weight: normal;
  color: rgba(207, 168, 39, 0.855);
}

.peTitulos2 {
  font-size: 1.5rem;
  font-weight: normal;
  color: rgba(207, 168, 39, 0.855);
}
.mel2 {
  font-size: 1rem;
  text-align: left;
  margin-bottom: 1.3rem;
}
.reservaBtn {
  padding: 10px 20px !important;
  font-size: 1rem !important;
  border: 1px solid transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  background: rgba(95, 73, 0, 0.855);
  color: #ffffff;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 0rem;
  /* font-family: "Open Sans", Arial, serif; */
  font-size: 10px;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  box-sizing: border-box;
  text-align: left;
}
.title2 {
  margin-bottom: 5.5rem;
}
